{% extends "layout.html" %}

{% block body %}
    <h2>All books</h2>

    {% set block_count = 3 %}

    <ul class="blocks-{{ block_count }}">
        {% for book in books %}
            <li class="book {% if loop.index % block_count == 1 %}block-first{% endif %}">
                <a href="{{ book.url }}">{{ book.title }}</a>
                {% if book in current_user.favorite_books %}
                    <i class="fa fa-star"></i>
                {% endif %}
                {% if book.authors %}
                    <br/>
                    <em>{{ book.authors }}</em>
                {% endif %}
                {% if book.description %}
                    <br/>
                    {{ book.description }}
                {% endif %}

                {% if current_user.is_active() %}
                    <div class="book-actions">
                        <a class="btn btn-smaller" href="{{ url_for("edit_book", id=book.id) }}">Edit book</a>
                        {% if book not in current_user.favorite_books %}
                            <form action="{{ url_for("add_favorite", id=book.id) }}" method="post" class="inline">
                                <input type="submit" class="btn btn-smaller" value="Add as favorite"/>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}